{% extends "./header.html" %}


{% block content %}

<form class="form-signin" method="post" id="login-form">
  <h2 class="form-signin-heading">Please sign in</h2>
  {% csrf_token %}
  {% for non_field_error in form.non_field_errors %}
    <p class="text-danger">{{ non_field_error }}</p>
  {% endfor %}
  <label for="inputEmail" class="sr-only">Email address</label>
  <input id="input-username" class="form-control" type="text" name="username" autofocus maxlength="254" id="id_username" required />
  <label for="inputPassword" class="sr-only">Password</label>
  <input id="input-password" class="form-control" type="password" name="password" required id="id_password" />
</form>
<button id="loginButton" class="btn btn-lg btn-success btn-block">Sign in</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
$(function () {
  $('#loginButton').click(function() {
    var username = $('#input-username').val();
    var password = $('#input-password').val();
    if(username && password) {
        console.log("Will try to login with ", username, password);
        $.ajax({
            url: '/social_network/token/',
            type: 'POST',
            dataType: 'json',
            data: {username: username, password: password}
        }).done(function(data) {
            g_auth = {
                username: username,
                key: data["token"],
            };
            sessionStorage.setItem("auth", JSON.stringify(g_auth));
            $("#login-form").submit();
        }).fail(function(data) {
            console.log("FAIL", data);
        });
    }
  });
})

</script>

{% endblock %}
